<body>
  <div class="container" style="margin-top: 3em">
    <div class="row"><h2>Task List:</h2></div>
    <div class="row">
      <% data.forEach(function (task) {%>
      <button class="btn btn-info" style="margin-top: 3em">
        <a class="link-dark" href="/taskform/<%= task.task_id %>"><%= task.task_title %></a>
      </button>
      <%}) %>
    </div>
  </div>
</body>
