<body>
  <div class="container" style="margin-top: 2em">
    <div class="row"><h2><%= taskData.task_title %></h2></div>
    <div class="row">
      <% if(taskData.prompted) { %>
      <p><%= taskData.text %></p>
      <% } %>
    </div>
  </div>
</body>
