<body>
  <script>
    $(document).ready(async function () {
      const taskId = document.getElementById('taskId').value;
      const taskUrl = `http://localhost:3000/task/${taskId}`;

      var currentTaskData = await getTaskData(taskUrl);
      setInterval(async function (currentTaskData) {
        var newTaskData = await getTaskData(taskUrl);

        if (newTaskData === currentTaskData) {
          currentTaskData = newTaskData;
        } else {
          location.reload();
        }

        // console.log('refresh');
      }, 1000);
    });

    async function getTaskData(taskUrl) {
      const currentTask = await axios.get(taskUrl);
      const currentTaskData = currentTask.data;
      return currentTaskData;
    }

    async function turnOff() {
      const taskId = document.getElementById('taskId').value;
      const taskUrl = `http://localhost:3000/task/${taskId}`;

      axios.patch(taskUrl, { prompted: false });
      console.log('reset!');
    }
  </script>
  <div class="container" style="margin-top: 2em; padding-left: 3em">
    <input id="taskId" type="hidden" value="<%= taskData._id %>" />
    <div class="row"><h2><%= taskData.task_title %></h2></div>
    <div class="row">
      <% if(taskData.prompted) { %>
      <h4 style="color: blue"><%= taskData.text %></h4>
      <% } %>
    </div>

    <small>Please press reset to reset flag.</small> <br />
    <button class="btn btn-secondary" onclick="turnOff()" style="margin-top: 1em">Reset</button>
  </div>
</body>
