<body>
  <div class="container">
    <div class="text-center mt-5">
      <h1><%= pageTitle %></h1>
    </div>
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 bg-light">
          <div class="card-body bg-light">
            <div class="container">
              <form id="task-form" role="form" method="POST" action="/answers">
                <div class="controls">
                  <% for (const question in taskform) { %>
                  <div class="row">
                    <div class="form-group">
                      <label for="<% taskform[question] %>"><%= taskform[question] %> </label>
                      <textarea
                        id="answer-box"
                        name="<% taskform[question] %>"
                        class="form-control"
                        rows="4"
                      ></textarea>
                    </div>
                  </div>
                  <% } %>
                  <div class="row">
                    <div class="col-md-12" style="margin-top: 1em">
                      <input
                        type="submit"
                        class="btn btn-success btn-send pt-2 btn-block"
                        value="Send Message"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.8 -->
      </div>
      <!-- /.row-->
    </div>
  </div>
</body>
